main{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    position:relative
}

.totalNumberPokemons{
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}


.filtersArea{
    /* display: flex;
    flex-direction: column; */
    /* FAZER O FILTER DEPOIS */
    opacity: 0;
    gap:50px;
    max-width: 90px;
    word-wrap: break-word;
    /* height:700px; */
    padding: 20px 0px;
    border-top: 1px solid #000;
    align-items: center;
    position: absolute;
    left: -12%;
    background-color:#f00;
}

.filtersArea .filters{  
    /* filtros aqui */
}

.listPokemons{
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap:50px;
    align-self: flex-start;
    
}

.pagePokemonArea{
    margin: 50px 0px 20px 0px;
    display: flex;
    gap: 30px;
    
}

.pagePokemonArea button{
    cursor: pointer;
    /* color:#f00; */
    font-weight: 600;
    font-size: 1.7rem
}

.pagePokemonArea button:hover{
    color:rgb(84, 201, 222)
}